@import 'reset';

body {
  font-family: sans-serif;
  background-color: #874d4d;
  width: 100%;
}

.form-container {
  width: 90%;
  margin: 5%;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  vertical-align: middle;
  &:before {
    display: block;
    content: url("../../assets/searchicon.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
  }
}

.search {
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  border: 0px #DDD solid;
  border-radius: 5px;
  font-size: .9em;
  padding: 10px 0 10px 40px;
  outline: none;
}

.btn {
  outline: none;
  display: inline;
  color: rgba(255,255,255,.75);
  background-color: #7c0a02;
  font-size: 1em;
  position: absolute;
  padding: 9.5px 15px;
  top: 0;
  right: 0;
  border: 0px solid #5e1914;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  &:hover {
    background-color: #5e1914;
  }
}

.results {
  background-color: rgba(255,255,255,.1);
  list-style: none;
  padding: 0;
  margin: -4px 0 0 0;
  li {
    padding: 6px 10px 10px 20px;
  }
  &:last-child {
    padding-top: 10px;
    border-radius: 0 0 5px 5px;
  }
}
